/* My Styles */

body {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    background: aquamarine;
    color:white;
  }
  