/* My Styles */

body {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    font-family: 'Sharpie-Bold';
    font-size: 7em;
    color:aquamarine;
  }
  